{
    "env": {
        "development": {
            "presets": [
                "@babel/preset-env",
                "@babel/preset-react"
            ]
        },
        "production": {
            "plugins": [
                ["module-resolver", {
                    "root": ["."],
                    "alias": {
                        "@Containers": "./dist/Containers",
                        "@Layouts": "./dist/__Layouts",
                        "@Inputs": "./dist/Inputs",
                        "@Text": "./dist/Text",
                        "@Themes": "./dist/Themes",
                        "@Utils": "./dist/Utils"
                      }
                }]
            ]
        }
    }
}
