{
    "env": {
        "development": {
            "presets": [
                "@babel/preset-env",
                "@babel/preset-react"
            ]
        },
        "production": {
            "plugins": [
                ["module-resolver", {
                    "root": ["./dist"],
                    "alias": {
                        "@Containers": "./Containers",
                        "@Layouts": "./__Layouts",
                        "@Inputs": "./Inputs",
                        "@Text": "./Text",
                        "@Themes": "./Themes",
                        "@Utils": "./Utils"
                      }
                }]
            ]
        }
    }
}
