
header{
    font-weight: bolder;
    padding: 55px;
}


#card1,#card2,#card3,#card4{
    color: white;
  
}
.card-text{
    font-size: 18px;;
}


.bubble1{
    background-color: rgb(65,157,229);
    border-radius: 10px;
    height: 225px;
    margin: 20px;
    width:  325px;
    margin-left: 60px;
}

.bubble1::after {
    background-color: rgb(65,157,229);
    content: "\00a0";
    display: block;
    height: 12px;
    left: 310px;
    position: relative;
    top: -128px;
   
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
    width:  20px;
}
.bubble2{
    background-color: rgb(45,116,222);
    border-radius: 10px;
    height: 225px;
    margin: 20px;
    width:  325px;
    margin-left: -15px;
    clip-path: polygon(
      0 0, 
      100% 0, 
      100% 12%,
      116% 16%,
      100% 20%,
      100% 100%, 
      0 100%, 
      0% 20%,
      1.8% 16%,
      0% 12% 
              
    );
   
}

.bubble2::after {
    background-color:rgb(45,116,222);
    content: "\00a0";
    display: block;
    height: 12px;
    left: 310px;
    position: relative;
    top: -102px;
    z-index: -1;
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
    width:  20px;
}

.bubble3{
    background-color: rgb(22,64,123);
    border-radius: 10px;
    height: 225px;
    margin: 20px;
    width:  325px;
    margin-left: -15px;
    clip-path: polygon(
      0 0, 
      100% 0, 
      100% 12%,
      116% 16%,
      100% 20%,
      100% 100%, 
      0 100%, 
      0% 20%,
      1.8% 16%,
      0% 12% 
              
    );
    
}

.bubble3::after {
    background-color: rgb(22,64,123); 
    content: "\00a0";
    display: block;
    height: 12px;
    left: 310px;
    position: relative;
    top: -128px;
    z-index: -1;
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
    width:  20px;
    
}

.bubble4{
    background-color: rgb(14,44,86);
    border-radius: 10px;
    height: 225px;
    margin: 20px;
    width:  325px;
    margin-left: -15px; 
    clip-path: polygon(
        0 0, 
        100% 0, 
        100% 12%,
        116% 16%,
        100% 20%,
        100% 100%, 
        0 100%, 
        0% 20%,
        1.8% 16%,
        0% 12% 
                
      );
    
}

.bubble4::after {
    background-color: rgb(14,44,86);
    content: "\00a0";
    display: block;
    position: relative;
    top: 20px;
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
    width:  20px;
   
}



