
header{
    font-weight: bolder;
    padding: 55px;
}

.card{
    width: 325px;
    height: 225px; 
    color: white;
    font-size: 19px;
  
}


#col1{
    margin-left: 50px;
}

#col2{
    margin-left: -80px;
}

#col3{
    margin-left: -80px;
}

#col4{
  margin-left: -80px;
  
}

#card1{
    /* background-color: rgb(65,157,229);
    border-radius: 5%;
    */
    color: white;
}
#card2{
    /* background-color: rgb(45,116,222);
    border-radius: 5%; */
    color: white;
    
}
#card3{
    /* background-color: rgb(22,64,123);
    border-radius: 5%; */
    color: white;
}
#card4{
    /* background-color:rgb(14,44,86);
    border-radius: 5%; */
    color: white;
}

.bubble1{
    background-color: rgb(65,157,229);
    border-radius: 5px;
    /* box-shadow: 0px 0px 6px #B2B2B2; */
    height: 225px;
    margin: 20px;
    width:  325px;
    margin-left: 60px;
}

.bubble1::after {
    background-color: rgb(65,157,229);
    /* box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 ); */
    content: "\00a0";
    display: block;
    height: 12px;
    left: 312px;
    /* right: 80px; */
    position: relative;
    top: -120px;
   
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
    width:  20px;
}
.bubble2{
    background-color: rgb(45,116,222);
    border-radius: 5px;
    /* box-shadow: 0px 0px 6px #B2B2B2; */
    height: 225px;
    margin: 20px;
    width:  325px;
    margin-left: -5px;
    clip-path: polygon(
      0 0, 
      100% 0, 
      100% 12%,
      116% 16%,
      100% 20%,
      100% 100%, 
      0 100%, 
      0% 20%,
      2% 16%,
      0% 12% 
              
    );
   
}

.bubble2::after {
    background-color: rgb(45,116,222);
    /* box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 ); */
    content: "\00a0";
    display: block;
    height: 12px;
    left: 312px;
    z-index: -1;
    position: relative;
    top: -100px;
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
    width:  20px;
}

.bubble3{
    background-color: rgb(22,64,123);
    border-radius: 5px;
    /* box-shadow: 0px 0px 6px #B2B2B2; */
    height: 225px;
    margin: 20px;
    width:  325px;
    margin-left: -5px;
    clip-path: polygon(
      0 0, 
      100% 0, 
      100% 12%,
      116% 16%,
      100% 20%,
      100% 100%, 
      0 100%, 
      0% 20%,
      2% 16%,
      0% 12% 
              
    );
    
}

.bubble3::after {
    background-color: rgb(22,64,123);
  
    content: "\00a0";
    display: block;
    /* height: 20px;
    left: 315px; */
    height: 12px;
    left: 312px;
    position: relative;
    top: -120px;
    z-index: -1;

    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
    width:  20px;
    
}

.bubble4{
    background-color: rgb(14,44,86);
    border-radius: 5px;
    /* box-shadow: 0px 0px 6px #B2B2B2; */
    height: 225px;
    margin: 20px;
    width:  325px;
    margin-left: -5px; 
    clip-path: polygon(
        0 0, 
        100% 0, 
        100% 12%,
        116% 16%,
        100% 20%,
        100% 100%, 
        0 100%, 
        0% 20%,
        2% 16%,
        0% 12% 
                
      );
    
}

.bubble4::after {
    background-color: rgb(14,44,86);
    /* box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 ); */
    content: "\00a0";
    display: block;
    /* height: 20px;
    left: 315px; */
    position: relative;
    top: 20px;
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
    width:  20px;
   
}



