
.icon-print:before { content: '\e800'; } /* '' */
.icon-forward-outline:before { content: '\e801'; } /* '' */
.icon-dollar-currency-symbol:before { content: '\e802'; } /* '' */
.icon-credit-card:before { content: '\e803'; } /* '' */
.icon-up-arrow:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */