# This is a basic workflow to help you get started with Actions
# This auto publishes the react-ui package to npm.

name: NPM Publish

on: push

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - run: npm config set @here:registry https://repo.platform.here.com/artifactory/api/npm/maps-api-for-javascript/
      - run: npm install
      - run: npm test
      - run: npm run-script build
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
